<header>
  <div id="header-logo">
    <a href="/">forFansOf</a>
  </div>
  <nav class="navbar navbar-inverse">
    <ul class="nav nav-pills">
      <% if (user.logged || 0 ) { %>
        <li><a href="/user/<%= user.username %>"><%=user.username%></a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
      <% } %>
      <li><a href="/artists">Artists</a></li>
    </ul>
  </nav>
</header>
<main>
