
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: black;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 10px;
}

#header-logo {
  color: white !important;
  vertical-align: middle !important;
  margin-left: 10px;
}

header #header-logo {
  text-decoration: none;
  color: white;
}

header ul {

}

header ul li {
  display: inline;
  margin: 0 !important;
  padding: 0 !important;
}

header ul li a {
  text-decoration: none;
  padding: 10px !important;
  margin: 0px !important;
  text-decoration: none !important;
  color: white;
}
main {
  flex: 1;
}
footer {
  background-color: black;
  color: white;
  max-width: 100% !important;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

footer div p {
  justify-content: center;
  vertical-align: middle;
  margin: 5px auto;
}
