<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <p><%= user.username %></p>
    <p>=================</p>
    <form action="/user/<%= user.username %>?_method=DELETE" method="post">
      <button type="submit" name="delete">Delete Profile</button>
    </form>
  </body>
</html>
