<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings - forFansOf</title>
    <link rel="stylesheet" href="/css/user/edit.css">
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <% let url='/user/' + user.username + '?_method=PUT '%>
    <p><%= url %> </p>
    <form action="<%= url %>" method="post">

      Followed Bands: <input type="text" name="followedBands" placeholder="<%= user.followedBands %>" />
      <button type="submit" name="button">Submit Changes</button>

    </form>


    <br />


    <form action="/user/<%= user.username %>?_method=DELETE" method="post">

      <button type="submit" name="delete">Delete Profile</button>

    </form>

    <% include ../partials/footer.ejs %>
  </body>
</html>
