<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= user.username %>'s Dashboard - Jam Sesh</title>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <a href="./<%= user.username %>/settings">Settings</a>
<br/>
    Followed Bands:
    <ul>
        <% for (let band of bands) { %>
        <li><%= band %></li>
        <% } %>
    </ul>
    <% include ../partials/footer.ejs %>
  </body>
</html>
