<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= album.title %> - forFansOf</title>
    <link rel="stylesheet" href="/css/albums/edit.css">
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <h1>Album Edit Page</h1>

    <% include ../partials/footer.ejs %>
  </body>
</html>
