<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/header.ejs %>
    Album Index Page
    <% include ../partials/footer.ejs %>
  </body>
</html>
