<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Album - forFansOf</title>
    <link rel="stylesheet" href="/css/albums/new.css">
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    New Album Page
    <form action="/albums" method="post">
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="img" placeholder="Image URL" />
      <input type="number" name="year" placeholder="Year of Release" />
      <input type="text" name="genres" placeholder="Genres" />
      <input type="text" name="forFansOf" placeholder="For Fans Of:" />
      <input type="text" name="tracks" placeholder="Tracks" />
      <input type="text" name="artist" placeholder="Artist" />
      <button type="submit" name="button">Submit</button>
    </form>
    <% include ../partials/footer.ejs %>
  </body>
</html>
