<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= album.name %> - forFansOf</title>
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
