<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artists - forFansOf</title>
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <% for (let artist of artists) { %>
      <div class="artist-box">
      <a href="/artists/<%= artist.artistURL %>"><img src="<%=artist.img%>"></a>
      <%= artist.name %>
      </div>
    <% } %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
