<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artists - forFansOf</title>
    <link rel="stylesheet" href="/css/artists/index.css">
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
      <div id="artists-box">
        <% for (let artist of artists) { %>
          <div class="artist-box">
          <a href="/artists/<%= artist.artistURL %>"><img src="<%=artist.img%>"></a>
          <a href="/artists/<%= artist.artistURL %>"><%= artist.name %></a>
          </div>
        <% } %>
      </div>
      <a href="./new">Add a new artist</a>
    <% include ../partials/footer.ejs %>
  </body>
</html>
