<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Artist - forFansOf</title>
    <% include ../partials/resources.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <h1>New Artist Page</h1>

    <form action="/artists" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="genres" placeholder="Genres" />
      <input type="text" name="from" placeholder="Place of Origin" />
      <input type="text" name="img" placeholder="Image URL" />
      <input type="text" name="forFansOf" placeholder="For Fans Of" />
      <button type="submit" name="button">Submit</button>
    </form>
    <% include ../partials/footer.ejs %>
  </body>
</html>
